@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body { 
	font-family: 'Open Sans'; 
	background: #e6e6e6; 
	padding: 20px;
}

img {
  display: block;
	margin:auto;
	border-radius: 10px;
}

.banner {
	border-bottom: 2px;
	border-bottom-color: #ccc;
	width: full;
	display: block;
	border: none;
}

.page { 
	width: 700px;
	display: block;
	margin: auto;
	border: 5px solid #ffffff;
	background: white; 
}

.metanav { 
	text-align: center;  
	font-size: 20px;
	margin-bottom: 1em; 
	background: #ffffff; 
	width: 35em
}

.flash { 
	background: #cee5F5; 
	padding: 0.5em;
	border: 1px solid #aacbe2; 
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}
  
.btn {
	border: 2px solid #f1f1f1;
	color: gray;
	background-color: #f1f1f1;
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	transition: border 0.5s;
}

.btn:hover {
	border: 2px solid #bb374d;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	transition: border 0.5s;
}
  
.upload-btn-wrapper input[type=submit] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.result {
	border-radius: 25px;
	border: 2px solid #000000;
	padding: 10px;
	width: 35%;	
}