{% extends "layout.html" %}
{% block afterscan %} 

<!-- left column's visual recognition resulting class images & confidence scores .............. -->

<div class="vr-results">

	{% if data[0]["class"] != "Unidentified" %}
  
		<div class="vr-res-left">
			{% for d in data %}
				<img src={{ url_for('static', filename="image_database/"~ d["class"] ~".jpg") }} class="vr-res-img">
			{% endfor %}
		</div>

		<div class="vr-res-right">
			{% for d in data %}
				<div class="vr-res-text">{{ d["class"] }} {{ d["score"] }}</div>
			{% endfor %}
		</div>

		<div class="vr-res-right-add">
			{% for d in data %}
				<form method=POST action={{ url_for('add') }} style="height:110px; line-height:120px;">
					<button name="chosen" value="{{ d["class"] }}" type="submit" class="vr-res-add-btn">Add</button>
				</form>
			{% endfor %}
		</div>

	{% else %}

<!-- this is triggered when Watson returns nothing back .................. -->

		<div class="vr-res-left" style="width:45%">
			<img src={{ url_for('static', filename="image_database/Unidentified.gif") }} class="vr-res-img-unidentified">
		</div>
		<div class="vr-res-right">
			<div class="vr-res-text">Watson isn't sure</div>
		</div>

	{% endif %}

</div>

{% endblock %}

<!-- for displaying a randomly generated weight ........................ -->

{% block weight %} 

	<div class="weight">
		{{ '%0.2f'| format(weight) }} kg
	</div>

{% endblock %} 



