{% extends "layout.html" %}
{% block body %}
<div class=metanav>
    Pick an image to be analyzed:
    <br><br>
    <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
        <button class="btn">
            <input type=file name=photo>
            <input type=submit>
        </button>
    </form> 
</div> 
<center>
<div style="width:300px" class=metanav>
    <img src="{{url_for('static', filename='image/test.jpg')}}" style="max-width:100%">
</div>
</center>
<div class=metanav>
    <form method=GET enctype=multipart/form-data action="{{ url_for('AnalyzeRequest') }}">
        <button id="analyze_img" class="btn">
            <input type="submit" value="Analyze!!">
        </button>
    </form>
</div>

    <dl>
    {% for key, value in data.items() %}
        <dt>{{ key|e }}:{{value|e}}</dt>
    {% endfor %}
    </dl>
{% endblock %}


       
