<!doctype html>
<html lang="en">

<head>
	<link rel=stylesheet type=text/css href={{ url_for('static', filename='style.css') }}>
</head>

<center>

	<div class="header">
		<img src="https://i.imgur.com/tCDY1qD.jpg" alt="logo" width="300">
	</div>

	<div class="page">
		{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		{% endfor %}


<!-- left column................................................................................................................ -->
		
		<div class="left-column">

<!-- the upload and submit image box ..................................................... -->

			<div class="prod-img">

				Pick an image to be analyzed:
				<br><br>

				<form method=POST enctype=multipart/form-data action={{ url_for('upload') }}>
					<button class="btn">
						<input type=file name=photo>
						<input type=submit>
					</button>
				</form>

				<img src={{ url_for('static', filename='image/test.jpg') }} style="max-height:100px">

				<form method=GET enctype=multipart/form-data action={{ url_for('analyze_request') }}>
					<input type="submit" value="Analyze!!" class="analyze_btn">
				</form>

			<!-- </div>
				<form method=GET enctype=multipart/form-data action= {{ url_for('analyze_request') }}>
					<input type="submit" value="Add" class="analyze_btn">
				</form>
			<div> -->

			</div>


<!-- grocery list receipt box ................................................................ -->

			<div class="groc-list">
				<h1>Grocery list</h1>
				<br>
				<p>
					<table>

						{% for produce_name, weight in receipt.items() %}
							<tr>
								<td>{{ produce_name }}</td>
								<td>{{ '%0.2f' | format(weight) }}kg</td>
								<td>${{ '%0.2f' | format(db[produce_name] * weight) }}</td>
							</tr>
						{% endfor %}

					</table>
				</p>
			</div>

			{% block weight %} 
			<div class="weight">
				0.000 kg
			</div>
			{% endblock %} 

		</div>


<!-- right column................................................................................................................ -->

		<div class="right-column">

			{% block afterscan %} 

			<div class="vr-results">

				<div class="vr-res-left">

					<img src={{ url_for('static', filename='image_database/not_found.jpg') }} class="vr-res-img">
					<img src={{ url_for('static', filename='image_database/not_found.jpg') }} class="vr-res-img">
					<img src={{ url_for('static', filename='image_database/not_found.jpg') }} class="vr-res-img">

				</div>

				<div class="vr-res-right">

					<div class="vr-res-text">Nothing Scanned</div>
					<div class="vr-res-text">Nothing Scanned</div>
					<div class="vr-res-text">Nothing Scanned</div>
						
				</div>

			</div>

			{% endblock %}

<!-- Enter PLU Code & Finish and Pay Box ....................................................................................... -->

			<a class="mansearch mansearch-box" href="#plu-enter">Enter PLU</a>
			<a class="pay" href="#popup_finishandpay">Finish and Pay</a>

		</div>  <!-- end right column div tag -->

	</div>  <!-- end page tag -->


<!-- footer .................................................................................................................... -->

	<div class="footer">

		<div class="footer-left">

			<div class="helpbox">
				<a class="helpbutton" href="#popup1">Help</a>
			</div>

		</div>
		
		<div class="footer-right">

			<div class="helpbox">
				<div class="time-box">{{ time }}</div>
			</div>

		</div>

		<form action={{ url_for('reset') }} style="float:center">
			<button>Erase Grocery List</button>
		</form>

	</div>


<!-- popup overlay for footer ....................................................................................................... -->
		
	<div id="popup1" class="overlay">

		<div class="popup">

			<br><br>
			<h2>Welcome to Ringo!</h2>
			<a class="close" href="#">&times;</a>  <!-- the exit button of the popup -->

			<div class="content">
				Upload a pic and press analyze to begin!
			</div>

		</div>

	</div>

<!-- popup overlay for Enter PLU  ....................................................................................................... -->

	<div id="plu-enter" class="overlay">

		<div class="plu-enter">

			<br><br>
			<a class="close" href="#">&times;</a>  <!-- the exit button of the popup -->

			<div class="content">
				<img src="https://i.imgur.com/gjNalkV.png" >
			</div>

		</div>

	</div>


<!-- popup overlay for finish and pay ....................................................................................................... -->

	<div id="popup_finishandpay" class="overlay">

		<div class="popup">

			<br><br>
			<h2>Ready to Pay?</h2>
			<a class="close" href="#">&times;</a>  <!-- the exit button of the popup -->

			<div class="content">
				<h1>Subtotal: ${{ '%0.2f' | format(total) }} </h1>
				<h1>Tax: $0.00</h1>
				<h1>Your total comes to: ${{ '%0.2f' | format(total) }}</h1>
			</div>

		</div>

	</div>



	

</center>
</html>